# Specify filepatterns you want git to ignore.
_IGNORE_*
GAME_PACKETS/
H1Z1-LoginServer/loginModuleTemp.dll
H1Z1-ZoneServer/zoneModuleTemp.dll
LOGIN_PACKETS/
*.bkp
zig/*
patch/H1Emu-Kotk-Patch
src/cTesting/*
src/zone/5.bin